/*----
Main
----*/

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('../resources/fonts/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
	font-family: 'Encode Sans Condensed';
	src: url('../resources/fonts/EncodeSansCondensed-Regular.ttf');
}
.yanone {
	font-style: 'Yanone Kaffeesatz';
}
.encode {
	font-style: 'Encode Sans Condensed';
}

html {

}

body {
	background-color: #272822;
	font-family: 'Encode Sans Condensed', sans-serif;
	color: White;
	margin-bottom: 3em;
	margin-left: 10%;
	margin-right: 10%;
}

#table_main {
	background-color: rgba(255,255,255,0.1);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#table_main {
	border-collapse: collapse;
	/*border: 1px solid white;*/
}
#table_main thead {
	color: #A6E22E;
}
#table_content tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.1);
}
#table_content tr:nth-child(even) {
	background-color: rgba(255,255,255,0.2);
}
#table_content {
	border: none;
}
th {
	cursor: pointer;
}
td, th {
	font-weight: normal;
	padding: 6px;
	word-wrap: break-word;
}
td:not(:last-child), th:not(:last-child) {
	border-right: 1px solid rgba(255,255,255,0.75);
}

#lastModified {
	position: fixed;
	background-color: #272822;
	color: rgba(255,255,255,0.4);
	width: 100%;
	text-align: right;
	padding: 8px 8px 8px 0;
	margin-left: -8px;
	font-size: 1rem;
	bottom: 0;
	left: 0;
}
