/*----
Main
----*/

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('../resources/fonts/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
	font-family: 'Encode Sans Condensed';
	src: url('../resources/fonts/EncodeSansCondensed-Regular.ttf');
}
.yanone {
	font-style: 'Yanone Kaffeesatz';
}
.encode {
	font-style: 'Encode Sans Condensed';
}

html {

}

body {
	background-color: #272822;
	font-family: 'Encode Sans Condensed', sans-serif;
	color: White;
	margin-bottom: 3em;
	margin-left: 10%;
	margin-right: 10%;
}

header {
	position: relative;
}

h1#title {
	display: inline-block;
	margin-bottom: 0;
}

#github_link {
	display: inline-block;
	font-size: 85%;
	margin-right: 4em;
}

#progressVal {
	position: absolute;
	right: 0;
	bottom: 0;
}
#progressVal.fadeAway {
	animation: fadeAway 1s forwards;
}
@keyframes fadeAway {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

div.progress {
	position: relative;
}
div.progress hr {
	position: absolute;
}
hr {
	border-style: solid;
	border-width: 4px;
	border-right: 0;
	border-left: 0;
}
hr.h1 {
	border-color: rgba(255,255,255,0.6);
	width: 0%;
	margin-left: 0;
	transition: width 0.45s;
}
hr.h1-bg {
	width: 100%;
	margin-left: 0;
	border-color: rgba(255,255,255,0.25);
}

b {
	font-weight: normal;
	color: #FD971F
}

p {
	color: rgba(255,255,255,0.6);
}
div.progress + p {
	margin-top: 1.5em;
}

a.text {
	display: inline-block;
	text-decoration: none;
	position: relative;
    background: none;
    border: none;
    padding: 1px 1px;
    color: rgba(255,255,255,0.6);
}

a.text:before {
	position: absolute;
	content: '';
	background-color: #A6E22E;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transform: scaleY(0.07);
	    -ms-transform: scaleY(0.07);
	        transform: scaleY(0.07);
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
}
a.text:after {
	position: absolute;
	content: '';
	background-color: #272822;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0;
	z-index: -1;
}
a.text:hover {
	color: #272822;
}

a.text:hover:before {
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
	border-radius: 2px;
}

a.text:active:before {
	opacity: 0.75;
	border: 1px solid #272822;
}

#table_main {
	word-break: break-word;
	background-color: rgba(255,255,255,0.1);
	margin: 0;
	width: 100%;
}
#table_main {
	border-collapse: collapse;
}
#table_main thead {
	color: #FD971F;
}
#table_main thead tr th:first-child {
	width: 50%;
}
#table_content tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.1);
}
#table_content tr:nth-child(even) {
	background-color: rgba(255,255,255,0.2);
}
#table_content {
	border: none;
}

th {
	cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: white transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}
th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}
th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

td, th {
	font-weight: normal;
	padding: 6px;
	word-wrap: break-word;
}
td:not(:last-child), th:not(:last-child) {
	border-right: 1px solid rgba(255,255,255,0.75);
}


footer {
	position: fixed;
	color: rgba(255,255,255,0.4);
	background-color: #272822;
	width: 100%;
	bottom: 0;
	left: 0;
}
footer a.text {
	color: rgba(255,255,255,0.4);
}
#footer_container {
	padding: 8px 8px 8px 8px;
}
#lastModified {
	display: inline-block;
	background-color: #272822;
	width: 100%;
	text-align: right;
	font-size: 1rem;
}

@media screen and (max-width: 420px) {
	th {
		font-size: 85%;
	}
}